{% extends 'base.html.twig' %}

{% block body %}

    <!-- Conditions Générales de Vente (CGV) -->
    <div class="container my-5">
        <h2 class="text-center mb-4">Conditions Générales de Vente (CGV)</h2>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card shadow">
                    <div class="card-body">
                        <h3>1. Objet</h3>
                        <p>Les présentes conditions générales de vente (CGV) ont pour objet de définir les modalités et conditions dans lesquelles MINT7, entreprise spécialisée dans la vente de produits destinés aux mineurs de cryptomonnaie, propose ses produits à la vente sur son site Internet et les conditions dans lesquelles les clients peuvent les acheter et les utiliser.</p>

                        <h3>2. Champ d'application</h3>
                        <p>Ces CGV s'appliquent à toutes les ventes de produits réalisées par MINT7 sur son site Internet à tout utilisateur du site (ci-après dénommé "le Client").</p>

                        <h3>3. Acceptation des CGV</h3>
                        <p>Le fait de passer commande implique l'adhésion entière et sans réserve du Client aux présentes CGV. Aucune condition particulière ne peut, sauf acceptation formelle et écrite de MINT7, prévaloir sur ces CGV.</p>

                        <h3>4. Produits</h3>
                        <p>Les produits proposés à la vente sont ceux figurant sur le site Internet de MINT7, dans la limite des stocks disponibles. MINT7 se réserve le droit de modifier l'assortiment de produits à tout moment.</p>

                        <h3>5. Prix</h3>
                        <p>Les prix des produits sont indiqués en euros toutes taxes comprises (TTC) sur le site Internet. Les frais de livraison ne sont pas inclus dans le prix et sont facturés en supplément. Le prix total est indiqué dans le panier et lors du processus de commande.</p>

                        <h3>6. Commande</h3>
                        <p>Le Client passe commande en ligne, en remplissant le formulaire de commande disponible sur le site Internet de MINT7 et en suivant les instructions qui y sont données.</p>

                        <h3>7. Paiement</h3>
                        <p>Le règlement des achats s'effectue par carte bancaire ou tout autre moyen de paiement sécurisé accepté par MINT7.</p>

                        <h3>8. Livraison</h3>
                        <p>Les produits sont livrés à l'adresse indiquée par le Client lors de sa commande. Les délais de livraison sont indiqués sur le site Internet de MINT7 et peuvent varier en fonction du lieu de livraison et de la disponibilité des produits.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
