{% extends 'base.html.twig' %}

{% block body %}
    <!-- Votre contenu principal ici -->

    <!-- Conditions Générales d'Utilisation (CGU) -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Conditions Générales d'Utilisation (CGU)</h2>
                        <h3>1. Objet</h3>
                        <p>Les présentes conditions générales d'utilisation (CGU) ont pour objet de définir les modalités et conditions d'utilisation du site Internet de MINT7, accessible à l'adresse www.mint7.com (ci-après dénommé "le Site").</p>

                        <h3>2. Acceptation des CGU</h3>
                        <p>La consultation ou l'utilisation du Site implique l'acceptation entière et sans réserve des présentes CGU par l'utilisateur.</p>

                        <h3>3. Accès au Site</h3>
                        <p>L'accès au Site est libre et gratuit, sous réserve de dispositions contraires prévues dans les présentes CGU ou imposées par la législation en vigueur.</p>

                        <h3>4. Propriété intellectuelle</h3>
                        <p>Tous les éléments constituant le Site (textes, images, graphismes, logos, vidéos, etc.) sont protégés par le droit de la propriété intellectuelle et sont la propriété exclusive de MINT7. Toute reproduction ou représentation totale ou partielle du Site, par quelque procédé que ce soit, sans l'autorisation expresse de MINT7 est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

                        <h3>5. Responsabilité</h3>
                        <p>MINT7 ne saurait être tenue responsable de tout dommage direct ou indirect, matériel ou immatériel, causé à l'utilisateur ou à un tiers résultant de l'utilisation du Site ou de l'impossibilité d'y accéder, ou encore de l'utilisation d'informations disponibles sur le Site.</p>

                        <h3>6. Modification des CGU</h3>
                        <p>MINT7 se réserve le droit de modifier à tout moment et sans préavis les présentes CGU. Il est recommandé à l'utilisateur de consulter régulièrement les CGU afin de prendre connaissance des éventuelles modifications.</p>

                        <h3>7. Droit applicable et juridiction compétente</h3>
                        <p>Les présentes CGU sont régies par le droit français. Tout litige relatif à l'interprétation ou à l'exécution des CGU relève de la compétence exclusive des tribunaux français.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
